/* Importando as fontes para a página */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif; /* Aplica a fonte na página toda */
    font-weight: 600;
    font-style: normal;
    margin: 0; /* Retira toda a margem padrão da página */
    padding: 0;  /* Retira todo o preenchimento padrão da página */
}

body {
    background-color: #009FE3; /* Aplica uma cor de fundo ao corpo da página */
}

/* Cabeçalho da página */

header {
    background-color: #fbf388;
    color: #009fe3;
    height: 15%;
    padding: 1%;
    right: 0;
    left: 0;
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
}

main{
    height: 85%;
    margin-top: 8.9%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
}

main div{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}

/* Conteúdo principal da página */

#imgCadastro{
    background-image: url("../img/sinal_2.png");
    background-size: cover;
    background-position: center;
    left: 0;
    top: 20%;
}

#formulario {
    padding: 1%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    color: #fff;
    width: 70%;
}

#formulario a{
    text-decoration: none;
    color: #fbf388;
}

#formulario label{
    margin: 10px 0px 7px 0px;
}

#formulario input{
    margin: 7px 0px 7px 0px;
    color: #000;
    margin: 7px 0px 7px 0px;
    border-radius: 5px;
    border: none;
    width: 100%;
    padding: 10px;
}

span {
    color: #E24A4A;
}

.botao{
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #009fe3;
    background-color: #ffc90d;
    align-self: center;
    height: 7%;
    width: 100px;
}

p {
    align-self: center;
}

/* Estilização do formulário com JS */

.campo-obrigatorio::after {
    content: "*Campo obrigatório";
    position: absolute;
    top: 0;
    right: 0;
    color: #DFDFDF;
    font-size: .65rem;
    padding: .2rem .3rem;
    width: auto;
    display: block;
    background-color: #202020;
    margin: 1%;
}

.helper-text {
    display: none;
    font-size: .8rem;
    color: darkred;
}

input.error {
    background-color: #CCBBBB;
    border: solid 2px #992020;
    color: #662020;
}

input.correct {
    border: solid 2px #206620;
    background-color: #BBCCBB;
    color: #206620;
}

.visible {
    display: block;
}